<!DOCTYPE html>
<html lang="fr">
  <head>
      <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{title }}{% endblock %}</title>
      {% block description %}{{description}}{% endblock %}
       <!--CSS Bootstrap-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <!--CSS Twig-->
      {% block stylesheets %}{#{{ encore_entry_link_tags('app') }}#}{% endblock %}
      <!--CSS personnalisé-->
      <link rel="stylesheet" href="{{asset('css/main.css')}}">
       
    
  </head>
  <body>
  {{ include ('partials/header.html.twig')}} 
  {{ include ('partials/menu.html.twig')}} 
  
  {% block body %}{% endblock %}
      
      <!--Ordre conventionnel : JS Bootstrap puis JS Twig puis JS personnalisé-->
      <!--JS Bootstrap-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <!--JS Twig-->
      {% block javascripts %}{#{{ encore_entry_script_tags('app') }}#}{% endblock %}
      <!-- Javascript  personnalisé-->
      <script src="{{asset('js/script.js')}}"></script>
  </body>
</html>
