<!-- Footer -->
<footer
	class="text-center text-lg-start bg-light text-muted">

	<!-- Section: Links  -->
	<section class="">
		<div
			class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div
				class="row mt-3">
				<!-- Grid column -->
				<div
					class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4">
						DrColors
					</h6>
					<p>
						Duo d'artistes-artisans spécialistes de la réanimation murale. Nos gages de qualités : 
											talents complémentaires et techniques maitrisées. Nous vous
											 proposons une réalisation sur mesure adaptée à votre univers.
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Navigation
					</h6>
					<p>
						<a href="{{ path('home')}}" class="text-reset">ACCUEIL</a>
					</p>
					<p>
						<a href="{{ path('services') }}" class="text-reset">NOS SERVICES</a>
					</p>
					<p>
						<a href="{{ path('portfolio-intern_paint') }}" class="text-reset">PORTFOLIO</a>
					</p>
					<p>
						<a href="{{path('legal')}}" class="text-reset">MENTION L&Eacute;GALES</a>
					</p>
					<p>
						<a href="{{ path('a_propos') }}" class="text-reset">&Agrave; PROPOS</a>
					</p>
					<p>
						<a href="{{ path('cgv') }}" class="text-reset">CGV</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Nos Réseaux sociaux
					</h6>
					<p>
						<a href="https://www.facebook.com/drcolors59" target="_blank" class="text-reset">
							<i class="fab fa-facebook"></i>
						</a>
					</p>
					<p>
						<a href="https://twitter.com/docteurcolors?lang=fr" target="_blank" class="text-reset">
							<i class="fab fa-twitter"></i>
						</a>
					</p>
					<p>
						<a href="https://www.instagram.com/drcolors/?hl=fr" target="_blank" class="text-reset">
							<i class="fab fa-instagram"></i>
						</a>
					</p>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright:
			<a class="text-reset fw-bold" href="#">DrColors</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->


<footer class="text-center text-lg-start bg-light text-muted">
	<div class="container">
		<div class="row pt-5">
			<div class="col-sm">
				<p>
					<a href="{{ path('home')}}" class="text-reset">ACCUEIL</a>
				</p>
			</div>
			<div class="col-sm">
				<p>
					<a href="{{ path('services') }}" class="text-reset">NOS SERVICES</a>
				</p>
			</div>
			<div class="col-sm">
				<p>
					<a href="{{ path('portfolio-intern_paint') }}" class="text-reset">PORTFOLIO</a>
				</p>
			</div>
			<div class="col-sm">
				<p>
					<a href="{{path('legal')}}" class="text-reset">MENTION L&Eacute;GALES</a>
				</p>
			</div>
			<div class="col-sm">
				<p>
					<a href="{{ path('a_propos') }}" class="text-reset">&Agrave; PROPOS</a>
				</p>
			</div>
			<div class="col-sm">
				<p>
					<a href="{{ path('cgv') }}" class="text-reset">CGV</a>
				</p>
			</div>
		</div>
		<div class="container d-flex pt-5">
			<p class="col-sm">
				<a href="https://www.facebook.com/drcolors59" target="_blank" class="text-reset">
					<i class="fab fa-facebook"></i>
				</a>
			</p>
			<p class="col-sm">
				<a href="https://twitter.com/docteurcolors?lang=fr" target="_blank" class="text-reset">
					<i class="fab fa-twitter"></i>
				</a>
			</p>
			<p class="col-sm">
				<a href="https://www.instagram.com/drcolors/?hl=fr" target="_blank" class="text-reset">
					<i class="fab fa-instagram"></i>
				</a>
			</p>
		</div>
	</div>
	<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright:
			<a class="text-reset fw-bold" href="#">DrColors</a>
		</div>
		<!-- Copyright -->
</footer>