{# backgroundimage #}
<header>
	<div class="navbarimage">
		<img
		src="{{asset('/images/DrColorsheader.png')}}" class="w-100" alt="BackgroundimageDrcolors2">
		{# navbar #}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ path('home')}}">
				<img src="{{asset('/images/logodrcolors-removebg-preview2.png')}}" alt="logodrcolors">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('services') }}">NOS SERVICES
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							PORTFOLIO
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{{ path('portfolio-intern_paint') }}">Peintures intérieures</a>
							<a class="dropdown-item" href="{{ path('peintures_ext') }}">Peintures extérieures</a>
							<a class="dropdown-item" href="{{ path('oeuvres_originales') }}">Oeuvres originales</a>
							<li class="nav-item">
								<a class="nav-link" href="">CONTACT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('a_propos') }}">A PROPOS</a>
							</li>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
